<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	
	<property name="LOG_PATH" value="/var/logs"/>

	<!-- 파일 로그 생성 --> 
	<!-- /var/log/application_log.log 파일에 최신 로그 생성 --> 
	<!-- /var/log/application_2016-07-15.0.log 파일에 과거 로그 보관 -->
	<!-- 5MB 초과, 날짜 변경 시점마다 생성, 생성된지 15일 이상된 파일은 삭제 -->
	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<File>${LOG_PATH}/application.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/application_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<encoder>
			<pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="jdbc" level="OFF" />
	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.sqltiming" level="DEBUG" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.resultsettable" level="DEBUG" />
	<logger name="jdbc.connection" level="OFF" />
	
	<logger name="com.gaonsoft.ims.api" level="INFO" />
	<logger name="org.hibernate.type" level="INFO" />

	<!-- INFO 레벨 이하 로그를 콘솔 및 파일로 출력 -->	
	<root level="INFO">
		<appender-ref ref="dailyRollingFileAppender" />
	</root>
</configuration>